.Header-Section {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #EFEEEE;
  z-index: 100;
}

.Header-Section-Title {
  flex: 1.5;
  /*background-color: lightblue;*/
  height: 100px;
  min-width: 200px;
  max-width: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Header-Section-Title-Info {
  font-family: Ms Madi;
  font-size: 30px;
  /*font-weight: 300;*/
  color: #8E806A;
}

.Header-Section-Buttons {
  flex: 2;
  /*background-color: lightpink;*/
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 350px;
}

.Header-Section-Buttons-Home, .Header-Section-Buttons-WorkExperience,
.Header-Section-Buttons-Personalprojects, .Header-Section-Buttons-Volunteer {
  flex: 1;
  /*background-color: lightgray;*/
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Header-Section-Buttons-WorkExperience-Button,
.Header-Section-Buttons-Personalprojects-Button,
.Header-Section-Buttons-Volunteer-Button
{
  position: relative;
  display: flex;
  justify-content: center;
}

.Header-Section-Buttons-WorkExperience-Button .Header-Button-Tooltip,
.Header-Section-Buttons-Personalprojects-Button .Header-Button-Tooltip,
.Header-Section-Buttons-Volunteer-Button .Header-Button-Tooltip,
.Header-Section-LetsTalk-Button .Header-Button-Tooltip
{
  position: absolute;
  background-color: #88807B;
  color: white;
  bottom: -30px;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Roboto, Arial;
  font-size: 14px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.18s;
}

.Header-Section-Buttons-WorkExperience-Button:hover .Header-Button-Tooltip,
.Header-Section-Buttons-Personalprojects-Button:hover .Header-Button-Tooltip,
.Header-Section-Buttons-Volunteer-Button:hover .Header-Button-Tooltip,
.Header-Section-LetsTalk-Button:hover .Header-Button-Tooltip
{
  opacity: 1;
}

.Header-Section-Buttons-Home-Button, .Header-Section-Buttons-WorkExperience-Button,
.Header-Section-Buttons-Personalprojects-Button, .Header-Section-Buttons-Volunteer-Button
{
  font-family: Roboto;
  font-weight: 300;
  border: none;
  color: #8E806A;
  font-size: 16px;
  cursor: pointer;
}

.Header-Section-Buttons-Home-Button:hover {
  opacity: 0.6;
  color: #D8D8D8;
}

.Header-Section-Buttons-WorkExperience-Button:hover, .Header-Section-Buttons-Personalprojects-Button:hover,
.Header-Section-Buttons-Volunteer-Button:hover
{
  opacity: 0.6;
  color: #D8D8D8;
  text-decoration: underline;
}

.Header-Section-Buttons-Home-Button {
  text-decoration: underline;
}

.Header-Section-LetsTalk {
  flex: 1;
  /*background-color: lightblue;*/
  height: 100px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header-Section-LetsTalk-Button {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  color: #8E806A;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  display: flex;
  justify-content: center;
}

.Header-Section-LetsTalk-Button:hover {
  opacity: 0.6;
  color: #D8D8D8;
}
